{% extends "base.html.j2" %}
{% from "_macros.html.j2" import methodology_footer %}
{% set title = report.title %}
{% block content %}
<header>
<h1>{{ report.title }}</h1>
</header>
{% set heading = none %}
{% include "_competitiveness_section.html.j2" %}
{{ methodology_footer(report.methodology) }}
{% endblock %}
